<div class=" py-3   m-1 border rounded-xl">
    <div class="flex justify-around mt-4 " dir="rtl">
        <p class="mt-1 flex flex-wrap">{{ userData.name }} {{ surname }}</p><i class="fas fa-user h-fit border rounded-2xl p-2"></i>
    </div>
    <div class="flex justify-start -mt-2 px-4">
        <p class="mt-1 text-sm text-gray-500" dir="ltr">{{ (this.phoneNumber) }}</p> 
    </div>
    <div class="flex justify-around mt-3 cursor-pointer select-none">
        <p dir="ltr" >کیف پول<i class="fas fa-wallet mt-2 mx-2 "></i></p>
        <p class="text-sm mt-2">- تومان</p>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <span class="flex" dir="rtl"><i class="fas fa-home text-yellow-500 mt-1 me-1"></i>
            <p class="me-2">خلاصه فعالیت</p>
        </span>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <a href="orders" >
            <span class="flex" dir="rtl"><i class="fas fa-shopping-bag text-green-600 mt-1 ms-[.4rem]  "></i>
                <p class="me-2">سفارشات</p>
            </span>
        </a>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <span class="flex" dir="rtl"><i class="fas fa-heart text-red-600 mt-1 me-1"></i>
            <p class="me-2">لیست من</p>
        </span>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <span class="flex" dir="rtl"><i class="fas fa-route text-sky-600 mt-1 me-1"></i>
            <p class="me-2">آدرس ها</p>
        </span>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <span class="flex" dir="rtl"><i class="fas fa-message text-indigo-500 mt-1 me-1"></i>
            <p class="me-2">پیغام ها </p>
        </span>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <a href="userProfile">
            <span class="flex" dir="rtl"><i class="fas fa-user-pen text-teal-400 mt-1 "></i>
                <p class="me-2">اطلاعات حساب کاربری</p>
            </span>
        </a>
    </div>
</div>