<div class="container">
    <div class="grid grid-cols-6   mt-3" dir="rtl">
        <app-sidebar class=" col-span-6 lg:col-span-1" />
        <div class=" col-span-6 lg:col-span-5 py-7 m-1 border rounded-xl">
            <div class="flex justify-center" >
                <h2 class="mb-4 text-xl font-bold text-gray-900 " style="font-family: 'Rubik';"> سفارشات </h2>
                
            </div>
            <app-order/>
            <app-order/>
            <app-order/>
            <app-order/>
            <app-order/>
            <app-order/>

        </div>
    </div>
</div>