<div class="mb-5">
    <!-- 
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/b76bfd666e4debb9dc3ea77eade6b3fe11188fee_1722176814.jpg?x-oss-process=image/quality,q_95/format,webp"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/1db61b3c777fdf8c3c3f05bb75340db871ba4d35_1722245337.jpg?x-oss-process=image/quality,q_95/format,webp"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/8878cc02e2fc387319cda5b4fa1610cb0842fb4c_1722242016.jpg?x-oss-process=image/quality,q_95/format,webp"
                    class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="py-10 items-center justify-center">
        <div class="w-screen flex justify-center px-20 space-x-20">
            <img width="60" class=" mx-3 md:mx-10 cursor-pointer " height="60"
                src="https://dkstatics-public.digikala.com/digikala-bellatrix/c13bd207cfaf3009e063e010dc4234eef96b1d13_1708971660.png" />
            <img width="60" class=" mx-3 md:mx-10 cursor-pointer" height="60"
                src="https://dkstatics-public.digikala.com/digikala-bellatrix/d0dc0edf879e963e9cff31fd57b3f101743ddac8_1707297619.png" />
            <img width="60" class=" mx-3 md:mx-10 cursor-pointer" height="60"
                src="https://dkstatics-public.digikala.com/digikala-bellatrix/c13bd207cfaf3009e063e010dc4234eef96b1d13_1708971660.png" />
            <img width="60" class=" mx-3 md:mx-10 cursor-pointer" height="60"
                src="https://dkstatics-public.digikala.com/digikala-bellatrix/d0dc0edf879e963e9cff31fd57b3f101743ddac8_1707297619.png" />

        </div>
    </div> -->
    <div class="py-3 flex justify-end ">
        <div></div>

        <form>
            <mat-form-field dir="rtl" id="search" class=" w-[25rem] md:w-[35rem] mx-5 ">
                <input [ngModelOptions]="{standalone: true}" matInput class="h-10 w-[100%]"
                    placeholder="کالای مورد نظر خود را جستجو کنید" [(ngModel)]="searchKeyWord" />
                <span matTextPrefix><button (click)="searchInProducts(this.searchKeyWord)" class="mx-2 ms-3"><i
                            class="fas fa-search "></i></button></span>
            </mat-form-field>
        </form>
    </div>
    <div class="grid grid-cols-5">
        <div class=" col-span-5 md:col-span-4">
            <div class="flex justify-end py-2 px-3 space-x-5 font-medium select-none">

                <a (click)="SortByDefault()" class="cursor-pointer text-sm">پیش‌فرض</a>
                <a class="cursor-pointer text-sm">محبوب‌ترین</a>
                <a (click)="SortByHighestPrice()" class="cursor-pointer text-sm">گران‌‌‌ترین</a>
                <a (click)="SortByLowestPrice()" class="cursor-pointer text-sm">ارزان‌ترین</a>
                <p class=" text-sm select-none"> : مرتب سازی <i class="fas fa-arrow-up-wide-short"></i> </p>
            </div>
            <div *ngIf="Loading" class="flex justify-center">
                <div class="flex">
                    <div class="spinner-border text-danger mx-1 -mt-1" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="flex justify-center mx-1">
                        <p>در حال بارگذاری</p>
                    </div>

                </div>
            </div>
            <div *ngIf="this.ProductNotFound" class="flex justify-center">
                <div>
                    <img src="assets/images/404-computer.svg">
                    <div class="text-center text-2xl" >
                        <p>!محصولی با این مشخصات یافت نشد</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!Loading" dir="rtl" class=" grid lg:grid-cols-5 md:grid-cols-2 sm:grid-cols-2 grid-cols-2  ">

                <app-product class="col-span-1 " *ngFor="let product of searchedProductList"
                    [productTitle]="product.name" [productPrice]="product.Price" [productImageUrl]="product.imageUrl"
                    (click)="redirectToProductDetail(product.id)" />
            </div>
            <div class="flex justify-center mt-10">
                <div class="flex ">
                    <span
                        class="border-t  border-l border-b border-r p-3 select-none text-sky-500 text-lg  rounded-l-xl "
                        (click)="!IsLastDisabled?this.lastPagination():''"
                        [ngClass]="{'text-black':IsLastDisabled == true,'cursor-pointer':!IsLastDisabled}">«</span>
                    <span class="border-t  border-b p-3 pt-3">{{ this.pageCount }}</span>
                    <span class="border-t  border-r border-b border-l p-3 select-none rounded-r-xl text-sky-500 text-lg"
                        (click)="!IsNextDisabled?this.nextPagination():''"
                        [ngClass]="{'text-black':IsNextDisabled == true,'cursor-pointer':!IsNextDisabled}">»</span>

                </div>
            </div>
        </div>
        <div *ngIf="!Loading" class="col-span-1 border hidden md:block">
            a
        </div>
    </div>

</div>