<div class=" py-3   m-1 border rounded-xl">
    <div class="flex justify-around mt-4 " dir="rtl">
        <p class="mt-1 flex flex-wrap">{{ userData.name }} {{ surname }}</p><i
            class="fas fa-user h-fit border rounded-2xl p-2"></i>
    </div>

    <div class="flex justify-start -mt-2 px-4">
        <p class="mt-1 text-sm text-gray-500" dir="ltr">{{ (this.phoneNumber) }}</p>
    </div>
    <div class="flex justify-around mt-3 cursor-pointer select-none">
        <p dir="ltr">کیف پول<i class="fas fa-wallet mt-2 mx-2 "></i></p>
        <p class="text-sm mt-2">- تومان</p>
    </div>

    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <span class="flex" dir="rtl"><i class="fas fa-cubes text-amber-500 mt-1 me-1"></i>
            <p class="me-2">راهکاران</p>
        </span>
    </div>

    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <a href="createUser">
            <span class="flex" dir="rtl"><i class="fas fa-user-plus text-green-600 mt-1   "></i>
                <p class="me-2">ایجاد کاربر</p>
            </span>
        </a>
    </div>
    <hr class="mt-2">
    <div class="mt-2 py-2 ps-8 cursor-pointer hover:scale-110 transition-all duration-300">
        <span class="flex" dir="rtl"><i class="fa-solid fa-mobile text-indigo-500 mt-1 me-1"></i>
            <p class="me-2">شخصی سازی پرتال</p>
        </span>
    </div>
    <hr class="mt-2">
</div>