<div class="md:px-20 mt-10" >
    <div class="mx-10 border py-3 rounded-xl my-3" >
        <div class="px-10 flex justify-start  "  >
            <span class="flex"  > <i *ngIf="this.status" class="fas fa-circle-check text-xl text-success me-4 mt-1"></i><i *ngIf="!this.status " class="fas fa-hourglass-half   text-xl text-warning    me-4 mt-1"></i>  <p *ngIf="status" class="mt-1" >تحویل شده</p><p *ngIf="!status" class="mt-1" >در حال پردازش</p></span>
        </div>
        <div class="mt-3 flex-col md:flex md:flex-row w-full  px-10 md:px-24 " >
            <span class="md:ms-5 lg:ms-5 lg:mt-4 ms-5  text-gray-500"> {{ convertGregoryDateToJalali(this.date) }}</span>
            <p class=" mt-3  md:ms-10 md:mx-0" >کد سفارش : {{ this.orderId }}</p>

        </div>
        
        <!-- <p class=" m-5 md:ms-10 md:px-24 mt-3" >مبلغ : 350,000</p> -->

        <div class=" flex flex-wrap py-4 md:px-12 mt-4 border border-y" >
            <img  *ngFor="let product of this.ProductList" class="w-24 h-20 mx-2" [matTooltip]="product.ProductName" matTooltipClass="tooltip" [src]="'data:image/png;base64,'+product.imageUrl" />

        </div>
        <div class="flex justify-end px-10 mt-3 " >
            <span class="cursor-pointer mx-2 " dir="ltr" ><i class="fas fa-file-invoice mx-1 text-sky-700 mt-1" ></i><a class="text-sky-500"  >مشاهده فاکتور</a></span>
            <span (click)="redirect('product_installment/'+this.orderId)" class="cursor-pointer mx-2" dir="ltr" ><i class="fas fa-money-bill-1  mx-1 text-sky-700 mt-1" ></i><a class=""  >مشاهده اقساط</a></span>

        </div>
    </div>
</div>