/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './bootstrap.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.scroll-container {
    // height: 300px;
    overflow-y: scroll;
    
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9px;

}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll-container::-webkit-scrollbar-button {
    display: none;
}